
.each-emoji-container {
  background-color: #b1a8e8;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  margin: 10px;
}

.each-emoji {
  height: 60px;
}

@media screen and (min-width: 768px) {
  .each-emoji {
    height: 110px;
  }
}
